/* AdminLogin.css */
.adminlogin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.adminlogin-content {
    text-align: center;
    width: 300px;
}

.adminlogin-avatar {
    background-color: #f50057;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #1976D2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}