.admin-panel-container {
  max-width: 400px; /* Adjust the max-width to make the container a bit larger */
  margin: auto;
  margin-top: 20vh;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: right;
}

.admin-panel-container h1 {
  
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.status-dropdown {
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-dropdown label {
  
  margin-right: 10px;
}

.status-dropdown select {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px; /* Add margin to the right of the select element */
}

.status-dropdown button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Add margin to the top of the button */
}


.status-dropdown button span {

  padding-right: 20px;
}

.status-dropdown button svg {
  
  font-size: 1.2rem;
}
